body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: sans-serif;
	font-size: 1rem;
	background: #FAF7F1;
	color: #31281C;
}
h1 {
	font-size: 3rem;
}
.invites {
	padding-top: 8rem;
	@include breakpoint (sm) {
		padding-top: 13rem;
	}
	@include breakpoint (md) {
		padding-top: 5rem;
	}
	@include breakpoint (lg) {
		padding-top: 5rem;
	}
}
.footer {
	width: 100%;
	height: 50px;
	background: #31281C;
	color: #FAF7F1;
}
.home > .footer {
	display: none;
}
.serif-heading {
	font-family: 'EB Garamond', serif;
	font-weight: 600;
	font-style: italic;
}
.brown-text {
	color: #31281C;
}
.cream-text {
	color: #FAF7F1;
}
.hero-text {
	padding-top: 19rem;
	line-height: 0.9;
}
.hero-text-heading {
	font-size: 4.5rem;
}
.text-shadow {
	text-shadow: 2px 2px #31281C;
}
.front-page-text {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
.welcome-img {
	position: relative;
	width: 100%;
	min-height: 750px;
	background: url('../../../../uploads/memorable-occasion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.about-img {
	position: relative;
	width: 100%;
	min-height: 750px;
	background: url('../../../../uploads/Porch-_-Balcony.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.venue-img {
	position: relative;
	width: 100%;
	min-height: 750px;
	background: url('../../../../uploads/Overview-Pond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.courtyard-img {
	position: relative;
	width: 100%;
	min-height: 750px;
	background: url('../../../../uploads/Courtyard-Gardens.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.property-hero {
	position: relative;
	width: 100%;
	min-height: 750px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.more-button {
	position: relative;
	width: 100%;
}
.horizon-bar {
	width: 100%;
	height: 3px;
	background: #31281C;
}
.vert-bar {
	width: 100%;
	height: 220px;
	background-image: linear-gradient(#000, #000);
  	background-size: 3px 100%;
  	background-repeat: no-repeat;
  	background-position: center center;
}
.gallery {
	min-height: 200px;
	width: 100%;
}
#preloader {
	position: fixed;
	z-index: 999999999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../../../../themes/king-cole/assets/img/preloader.gif') 50% 30% no-repeat #FAF7F1;
	background-clip: padding-box;
}
.brown-border {
	border:1px solid #31281C;
}
.envira-gallery-image {
	border:1px solid #31281C !important;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.invitation-page-hero {
	display: block;
	height: 100%;
	width: 100%;
	
}
